<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Closed for Maintenance</h1>
        <p>The site is currently being updated.  We'll be back soon.</p>
    </body>
</html>